@import url('https://fonts.google.com/specimen/Outfit?query=outfit');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Outfit;
}
body{
    background:rgb(52, 50, 50);
    color:white;
    padding:none;
    align-items: center;
}
.heading
{
    padding-right:800px;
    background:black;
    height:130px;
    align-items: center;
    padding-top:35px;
}
.entry-text
{
    padding-top: 150px;
    font-size: 50px;
    padding-left:300px;
}
.login-page
{
    padding-inline: 60px;
}
#login
{
    height:50px;
    width:250px;
    font-size: 25px;
}
#search
{
    height:50px;
    width:250px;
    font-size: 25px;
}

